* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Assistant', sans-serif;
    list-style: none;
    text-decoration: none;
}

.logo img {
    max-width: 90px;
    height: auto;
    margin-left: 150px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .42 ease;
}

.navbar a:hover {
    color: #ee1c47;
}

.nav-icon {
    display: flex;
    align-items: center;
    margin-left: 1000px;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42 ease;
}
.nav-icon i:hover {
    transform: scale(1.1);
}

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 1;
    cursor: pointer;
}

.star{
    padding: 10px 0;
}
.star i{
    font-size: 0.8rem;
    color: goldenrod;
}

.line1, .line2{
    display: inline-block;
}


.main-text {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.carousel-caption {
    color: white;
}
.main-btn {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover {
    background-color: black;
    color: white;
}

.main-btn i {
    vertical-align: middle;
}

.trending-product {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

.center-text {
  display: inline-block;
  margin: 10px;
  align-items: center;
}

.products {
    display: flex;
    padding: 10px;
    margin: 150px;
}

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.card:hover {
    opacity: 0.7;
    transform: scale(1.03);
    transition: all .2s ease-in-out;
}

.product .buy-btn{
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(20px);
    opacity: 1;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
    width: 20%;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}